.wrapper-homepage-solutions {
  height: 150vh;
  padding: 50px 250px;
}

.container-homepage-solutions {
  padding: 80px 0;
}

.homepage-solutions-title {
  color: black;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 50px;
  font-family: $roboto;
  font-weight: 700;
}

