<div class="footer-wrapper">
  <div class="footer-container text-center">
    <h2>kot <strong>2.0</strong></h2>

    <div class="footer-lists">
      <div class="footer-list">
        <h3>A empresa</h3>
        <p>História</p>
        <p>Time</p>
        <p>Cultura</p>
        <p>Missão</p>
        <p>Valores</p>
      </div>
      <div class="footer-list">
        <h3>Serviços</h3>
        <p>Análise estrutural</p>
        <p>Análise de falha</p>
        <p>Consultoria</p>
        <p>Inspeção</p>
      </div>
      <div class="footer-list">
        <h3>Localizações</h3>
        <p>São Paulo</p>
        <p>Rio de Janeiro</p>
        <p>Brasilia</p>
        <p>Belo Horizonte</p>
      </div>
    </div>

    <div class="copyright-text">
      <p>©2018 kot 2.0 - Todos os direitos reservados</p>
      <p>R. Monte Alegre, 49 - Serra, Belo Horizonte, MG - 30240-230</p>
      <p>Entre em contato: (31) 3225-3225</p>
    </div>

  </div>
</div>

