<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <h1 class="company-logo"> <span class="company-logo-title">HRD</span><span class="company-logo-2">engenharia</span> </h1>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">HOME</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">A EMPRESA</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">PORTFOLIO</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">CLIENTE</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link navbar-contact-link">CONTATO</a>
  </div>
</div>
