<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <h1 class="company-logo"> <span class="company-logo-title">HRD</span><span class="company-logo-2">engenharia</span> </h1>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Home</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">A empresa</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Portfólio</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Clientes</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link navbar-contact-link">Contato</a>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">A empresa</a></li>
          <li><a href="#">Portfólio</a></li>
          <li><a href="#">Clientes</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
    </div>
  </div>
